root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Arquivos JavaScript/TypeScript
[*.{js,jsx,ts,tsx}]
quote_type = single

# Arquivos JSON
[*.json]
insert_final_newline = false

# Arquivos YAML
[*.{yml,yaml}]
indent_size = 2

# Arquivos de configuração
[*.{xml,html,css}]
indent_size = 2
